.TiledBanner {
    width: 100%;
    overflow: hidden;

    .Tile {
        width: 100%;
        display: inline-block;

        img {
            width: 100%;
        }
    }

    @media (min-width: 768px) {
        height: 450px;

        .Tile {
            width: 25%;
        }
    }

    @media (min-width: 968px) {
        height: 600px;

        .Tile {
            width: 20%;
        }
    }
}

.MobileComponent {
    @media (min-width: 768px) {
        display: none;
    }
}

.DesktopComponent {
    display: none;

    @media (min-width: 768px) {
        display: block;
    }
}