.HitListSection {
    padding: 50px 0 100px;
    background-color: rgba(0, 0, 0, .05);

    .YelpItems {
        display: flex;
        flex-flow: wrap;
        margin-top: 30px;
        min-height: 600px;

        .Divider {
            margin: 20px auto 0;
            font-size: 30px;
        }

        @media (min-width: 776px) {
            min-height: 300px;

            .Divider {
                display: none;
            }
        }
    }
}


