.NavigationItem {
    height: 50px;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    color: white;

    a {
        color: white;
        text-decoration: none;
    }

    @media (min-width: 568px) {
        height: 100%;
        width: auto;
        padding: 15px 10px;
    }
}