.HeroBanner {
    position: relative;
    width: 100%;

    img {
        width: 100%;
    }
}

.Title {
    width: 300px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    margin-left: -150px;
    color: white;
    text-align: center;

    h1 {
        font-size: 36px;
        margin-bottom: 10px;
    }

    p {
        font-size: 12px;
    }

    @media (min-width: 576px) {
        width: 500px;
        margin-left: -250px;

        h1 {
            font-size: 72px;
        }

        p {
            font-size: 18px;
        }  
    }
}

