.RoundThumbnailSlide {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    white-space: normal;

    .ThumbnailContainer {
        width: 280px;
        margin: 0 auto;

        .ThumbnailWrapper {
            display: inline-block;
        }
    }

    @media (min-width: 768px) {
        padding: 0 65px;
        box-sizing: border-box;

        .ThumbnailContainer {
            width: 100%;

            .ThumbnailWrapper {
                width: 25%;
                text-align: center;
            }
        }
    }
}