.Map {
    width: 100%;
    height: 350px;

    @media (min-width: 992px) {
        height: 450px;
    }

    @media (min-width: 1440px) {
        height: 600px;
    }
}

.InfoWindow {
    width: 200px;
    height: 80px;

    font-family: 'Rubik', serif;
}