.Home {
    width: 100vw;
    height: 100vh;
    background-color: #3E3E3E;
    font-family: 'Playfair Display SC', serif;
    color: white;

    .DetailLayer,
    .VideoLayer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .VideoLayer {
        z-index: 100;
    }

    .DetailLayer {
        z-index: 200;
        box-sizing: border-box;
    }
}

.ProjectVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;

        &.ActiveVideo {
            opacity: 1;
        }
    } 
}

@keyframes headerDrop {
    0% {
        transform: translateY(100px);
    }
    40% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.HeaderDrop {
    animation-name: headerDrop;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    animation-delay: 0s;
    animation-iteration-count: 1;
}

.Appear {
    animation-name: appear;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    animation-delay: 0s;
    animation-iteration-count: 1;
}

.HomeHeader {
    width: 100%;
    margin: 0 auto 200px;
    text-align: center;
    padding-top: 100px;
    box-sizing: border-box;
    
    h1 {
        margin: 0;
        font-size: 3em;
    }

    span {
        font-size: 1.1em;
    }

    @media (min-width: 768px) {
        padding-top: 150px;
        width: 70%;

        h1 {
            font-size: 5em;
        }
    
        span {
            font-size: 1.8em;
        }
    }

    @media (min-width: 992px) {
        margin-bottom: 100px;

        h1 {
            font-size: 7em;
        }
    
        span {
            font-size: 2.5em;
        }
    }
}

.ProjectContainer {
    width: 300px;
    margin: 0 auto;

    h3 {
        font-size: .6em;
        text-align: center; 
    }

    @media (min-width: 768px) {
        width: 400px;
        h3 {
            font-size: .8em;
        }
    }

    @media (min-width: 992px) {
        width: 500px;
        h3 {
            font-size: 1em;
        }
    }
}

ul.ProjectList {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
    font-size: .4em; 
    padding: 0;

    li {
        width: 150px;
        display: inline-block;
        text-align: center;

        a {
            color: white;
            text-decoration: none;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                bottom: 0;
                left: 0;
                background-color: white;
                visibility: hidden;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transition: all .35s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;
                transition: all .35s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;
            }

            &:hover:before {
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }
        }
    }

    @media (min-width: 768px) {
        font-size: .5em;
    }

    @media (min-width: 992px) {
        font-size: .8em;
    }
}  