.Misc {
    .SectionTitle {
        width: 100%;
        height: 40px;
        text-align: center;
        font-size: 21px;
        font-family: 'Permanent Marker', 'sans-serif';
    }

    .CarouselSection {
        margin: 25px auto;
    }

    @media (min-width: 768px) {
        .SectionTitle {
            height: 60px;
            font-size: 32px;
        }

        .CarouselSection {
            margin: 50px auto;
        }
    }

    @media (min-width: 998px) {
        .CarouselSection {
            margin: 125px auto;
        }
    }
}