.YelpResults {
    margin-top: 30px;
    height: auto;
    max-height: 320px;
    overflow: scroll;

    p {
        text-align: center;
    }

    @media (min-width: 576px) {
        max-height: 600px;
    }
}

.Loader {
    height: 50px;
    width: 50px;
    margin: 0 auto;
    text-align: center;
    font-size: 42px;
}