.YelpBusinessGrid {
    width: 100%;

    .YelpItemTabs {
        width: 270px;
        margin: 0 auto;

        .Tabs {
            width: 100%;
            height: 70px;

            .TabButton {
                width: 50%;
                height: 100%;
                padding: 20px 0;
                box-sizing: border-box;
                display: inline-block;
                text-align: center;
                color: white;
                background-color: black;
                font-size: 16px;
                font-family: 'Permanent Marker', 'sans-serif';

                &.Active {
                    color: black;
                    background-color: #ff4545;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }

        @media (min-width: 768px) {
            width: 460px;

            .Tabs {
                height: 110px;

                .TabButton {
                    padding: 30px 0;
                    font-size: 32px;
                }
            }
        }
    }

    .YelpItems {
        display: none;
        margin-top: 30px;
        min-height: 600px;

        .ItemSection {
            width: 50%;
        }
    }

    @media (min-width: 992px) {
        .YelpItemTabs {
            display: none;
        }

        .YelpItems {
            display: flex;
            flex-flow: wrap;
        }
    }
}