.RoundThumbnail {
    width: 125px;
    height: 125px;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
    margin: 5px 7px;

    .ThumbnailImage {
        width: 125px;
        height: 85px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .ThumbnailDesc {
        width: 125px;
        height: 40px;
        font-size: 10px;
        text-align: center;
        font-family: 'Permanent Marker', 'sans-serif';
        background-color: #fced3A;
        box-sizing: border-box;
        padding: 6px 10px 0;

        &.Entertainers {
            background-color: #fced3A;
        }

        &.Artists {
            background-color: #3dde2f;
        }

        &.Creators {
            background-color: #ff4545;
        }
    }

    @media (min-width: 998px) {
        width: 215px;
        height: 215px;

        .ThumbnailImage {
            width: 215px;
            height: 150px;
        }
    
        .ThumbnailDesc {
            width: 215px;
            height: 65px;
            font-size: 14px;
        }
    }
}