.PersonalSite {
    margin-top: 50px;
    padding: 20px 0;
    box-sizing: border-box;

    .LargeImage {
        width: 50vw;
        height: 50vw;
        margin: 0 auto;
        box-sizing: border-box;
        background-color: black;
        border-radius: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .PersonalMessage {
        width: 100vw;
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        

        h1, h2, h4, h5 {
            font-family: 'Permanent Marker';
        }

        h1 {
            margin: 0;
            font-size: 22px;
        }

        h2 {
            line-height: 1.3;
            font-size: 16px;
        }

        h4 {
            line-height: 1.3;
            font-size: 12px;
        }
    }

    @media (min-width: 768px) {
        padding: 50px 0;

        .LargeImage {
            width: 30vw;
            height: 30vw;
            max-width: 400px;
            max-height: 400px;
        }

        .PersonalMessage {
            width: 60vw;
            max-width: 760px;
            padding: 20px;

            h1 {
                font-size: 32px;
            }
    
            h2 {
                font-size: 22px;
            }
    
            h4 {
                font-size: 16px;
            }
        }
    }
}