.RestaurantHitList {
    h2 {
        text-align: center;
    }

    .HitListContent {
        display: flex;
        margin-top: 50px;
    }
    
    .HitList {
        width: 50%;
        padding: 0 30px;
    }
}