.NavigationItems {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    list-style: none;

    .Login {
        height: 50px;
        width: 50px;
        padding: 10px;
        box-sizing: border-box;

        &:hover {
            cursor: pointer;
        }

        img {
            height: 30px;
            width: 30px;
        }
    }

    @media (min-width: 568px) {
        padding: 0 10px;
        flex-flow: row;
    }
}