.HeroTitleCard {
    width: 100%;
    
    .HeroImage {
        position: relative;
        width: 100%;
        height: 70vw;
        overflow: hidden;

        .HeroImageText {
            display: none;
            position: absolute;
            max-width: 500px;
            left: 25px;
            bottom: 50px;

            .HeroImageCategory {
                margin-bottom: 10px;

                span {
                    font-size: 12px;
                    color: white;
                    background-color: #ff4545;
                    box-shadow: -10px 0 0 #ff4545;
                    padding: 10px 30px 10px 0;
                    box-sizing: border-box;
                }
            }

            h1 {   
                color: black;
                background-color: rgba(255, 255, 255, .7);
                box-shadow: 10px 0 0 rgba(255, 255, 255, 0.7), -10px 0 0 rgba(255, 255, 255, 0.7);
                line-height: 40px;
                display: inline;
    
                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }

        .TitleCardCategory {
            position: absolute;
            left: 20px;
            bottom: 0;
            padding: 7px 20px 7px 7px;
            color: white;
            background-color: #ff4545;
            font-size: 12px;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    .HeroHeadline {
        width: 100%;
        height: 200px;
        padding: 20px;
        box-sizing: border-box;
        
        a {
            text-decoration: none;
            color: black;
        }

        h2 {
            margin: 0;
        }
    }
}

@media (min-width: 640px) {
    .HeroTitleCard {

        .HeroImage {
            .HeroImageText {
                display: block;
            }

            .TitleCardCategory {
                display: none;
            }
        }

        .HeroHeadline {
            display: none;
        }
    }
}

@media (min-width: 768px) {
    .HeroTitleCard {
        width: 50%;
        height: 40vw;
        max-height: 500px;

        .HeroImage {
            height: 100%;

            .HeroImageText {
                .HeroImageCategory {
                    margin-bottom: 10px;
                }

                h1 {
                    font-size: 18px;
                    line-height: 24px;
                }
            }
        }
    }
}