.FashionHeroBanner {
    position: relative;
    width: 100%;
    height: 120vw;
    max-height: 500px;

    .BannerOverlay {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 100;
        transition: all .5s;

        &:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, .25);
        }
    }

    .HeroImage {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .HeroText {
        position: absolute;
        left: 25px;
        bottom: 25px;
        max-width: 400px;

        .HeroTextTitle {
            width: 90px;
            height: 25px;
            font-size: 12px;
            color: white;
            background-color: #ff4545;
            box-shadow: -10px 0 0 #ff4545;
            margin-bottom: 2px;
            padding: 2px 0;
            box-sizing: border-box;
        }

        h1 {   
            color: white;
            background-color: rgba(0, 0, 0, .7);
            box-shadow: 10px 0 0 rgba(0, 0, 0, 0.7), -10px 0 0 rgba(0, 0, 0, 0.7);
            line-height: 40px;
            display: inline;

            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}

@media (min-width: 768px) {
    .FashionHeroBanner {

        .HeroText {
            left: 50px;
            bottom: 50px;
        }
    }
}