.YelpBusinesses {
    width: 270px;
    margin: 0 auto;

    @media (min-width: 768px) {
        width: 460px;
    }

    @media (min-width: 1440px) {
        width: 690px;
    }

    .Header {
        width: 100%;
        height: 100px;
        background-color: black;
        color: white;
        font-size: 42px;
        font-family: 'Permanent Marker', 'sans-serif';
        text-align: center;
        box-sizing: border-box;
        padding: 20px 0;
    }
    
    .YelpItems {
        width: 100%;
        height: 430px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        overflow: scroll;

        .LoaderArea {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .1);
        }
    
        p {
            margin: 20px auto 0;
            font-size: 14px;
        }

        @media (min-width: 768px) {
            height: 590px;

            p {
                margin: 40px auto 0;
                font-size: 18px;
            }
        }
    }
}

