.FeedItem {
    width: 100%;
    height: 140px;
    display: flex;
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
    box-sizing: border-box;

    &.FeedHero {
        height: 180px;
        padding: 40px 0 30px;
    }

    .FeedHeadline {
        position: relative;
        height: 100px;
        flex: 1;
        order: 2;
        padding: 0 0 0 15px;
        box-sizing: border-box;
        text-overflow: ellipsis;

        &.HeroHeadline {
            padding: 0 15px 0 0;
            height: 120px;
            order: 1;
        }

        .Timestamp {
            position: absolute;
            bottom: 5px;

            i {
                color: #ff4545;
                margin-right: 10px;
            }
        }

        a {
            text-decoration: none;
            color: black;

            &:hover {
                text-decoration: underline;
            }
        }

        h2 {
            margin-top: 0;
            font-size: 12px;
        }
        
        span {
            font-size: 10px;
        }
    }

    .FeedImage {
        width: 100px;
        height: 100px;
        padding: 5px;
        order: 1;
        box-sizing: border-box;
        overflow: hidden;

        &.HeroImage {
            width: 120px;
            height: 120px;
            padding: 0;
            order: 2;
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
        }
    }
}

@media (min-width: 640px) and (max-width: 967px) {
    .FeedItem {
        height: 165px;
        padding: 25px 0;

        &.FeedHero {
            height: 280px;
            padding: 60px 0 20px;
        }

        .FeedHeadline {
            height: 115px;

            h2 {
                font-size: 16px;
            }

            span {
                font-size: 12px;
            }

            &.HeroHeadline {
                height: 200px;

                h2 {
                    font-size: 22px;
                }

                span {
                    font-size: 12px;
                }
            }
        }

        .FeedImage {
            width: 115px;
            height: 115px;

            &.HeroImage {
                width: 200px;
                height: 200px;
            }
        }
    }  
}