.YelpSearch {
    width: 100%;

    @media (min-width: 768px) {
        width: 50%;
        padding: 0 20px;
        box-sizing: border-box;
    }
}

.YelpLogo {
    width: 100px;
    margin: 0 auto 30px;

    img {
        width: 100%;
    }
}

.YelpForm {
    width: 280px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 30px;
    margin: 0 auto;
    display: flex;

    input {
        width: 120px;
        height: 100%;
        border: none;
        box-sizing: border-box;
        font-size: 16px;
        font-weight: bold;
        padding-left: 5px;
    }

    button {
        border: none;
        background-color:#d32323;
        color: white;
        width: 40px;
        height: 100%;

        &:hover {
            background-color: rgb(148, 38, 38);
        }
    }

    @media (min-width: 768px) {
        width: 350px;
        height: 40px;

        input {
            width: 150px;
        }

        button {
            width: 50px;
            font-size: 14px;
        }
    }

    @media (min-width: 992px) {
        width: 450px;
        height: 40px;

        input {
            width: 200px;
        }

        button {
            width: 50px;
            font-size: 14px;
        }
    }
}

.SearchResults {
    margin-top: 30px;
    height: auto;
    max-height: 480px;
    overflow: scroll;

    p {
        text-align: center;
    }

    @media (min-width: 576px) {
        max-height: 600px;
    }
}