.YelpSearch {
    width: 100%;

    @media (min-width: 776px) {
        width: 50%;
        padding: 0 20px;
        box-sizing: border-box;
    }
}

.YelpLogo {
    width: 100px;
    margin: 0 auto 30px;

    img {
        width: 100%;
    }
}

.YelpForm {
    width: 280px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 30px;
    margin: 0 auto;
    display: flex;

    .Input {
        width: 118px;
        height: 100%;

        .Label {
            width: 30px;
            height: 100%;
            padding: 0 0 0 2px;
            display: inline-block;
            font-size: 12px;
            font-weight: bold;
            box-sizing: border-box;
            color: #666666;
        }

        input {
            width: 88px;
            height: 100%;
            border: none;
            box-sizing: border-box;
            font-size: 12px;
            padding-left: 5px;
            color: #666666;

            &:focus {
                outline: none;
            }

            &.Invalid {
                border-bottom: 1px solid red;
            }
        }
    }

    .Divider {
        width: 4px;
        padding: 7px 0;
        font-size: 14px;
        color: #666666;
    }

    button {
        border: none;
        background-color:#d32323;
        color: white;
        width: 40px;
        font-size: 15px;
        height: 100%;

        &:hover {
            background-color: rgb(148, 38, 38);
            cursor: pointer;
        }
    }

    @media (min-width: 776px) {
        width: 350px;
        height: 40px;
        
        .Input {
            width: 153px;

            .Label {
                width: 40px;
                padding: 0 0 0 5px;
                font-size: 14px;
            }

            input {
                width: 113px;
                font-size: 14px;
            }
        }

        .Divider {
            width: 4px;
            padding: 9px 0;
            font-size: 20px;
        }
        
        button {
            width: 40px;
            font-size: 20px;
        }
    }

    @media (min-width: 992px) {
        width: 450px;

        .Input {
            width: 200px;

            input {
                width: 160px;
            }
        }

        .Divider {
            width: 10px;
        }   
    }
}