.YelpResult {
    border-top: 1px solid #ccc;
    height: 160px;
    width: 320px;
    padding: 20px 10px;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    position: relative;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    @media (min-width: 576px) {
        height: 200px;
        width: 100%;
        max-width: 600px;
    }
}

.RestaurantImg {
    height: 80px;
    width: 80px;

    img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }

    @media (min-width: 576px) {
        height: 150px;
        width: 150px;
    }
}

.RestaurantDesc {
    width: 65%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 0 0 15px;
    font-size: 12px;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    @media (min-width: 576px) {
        font-size: 14px;
    }
}

.GeneralInfo {
    width: 100%;

    a {
        text-decoration: none;
        font-weight: bold;
    }

    @media (min-width: 576px) {
        width: 60%;
    }

    @media (min-width: 776px) and (max-width: 991px) {
        width: 100%;
    }
}

.Address {
    width: 100%;
    
    @media (min-width: 576px) {
        width: 40%;
        text-align: right;
    }

    @media (min-width: 776px) and (max-width: 991px) {
        width: 100%;
        text-align: left;
    }
}

.Review {
    height: 55px;
    width: 100%;
    overflow: hidden;

    p {
        text-align: left;
    }

    @media (min-width: 576px) {
        height: 80px;
    }
}

.ActionButton {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    border-radius: 3px;
    text-align: center;
    display: none;

    &:hover {
        cursor: pointer;
    }

    &.Save {
        background-color: rgb(25, 146, 25);
        display: block;
    }

    &.Remove {
        background-color: #d32323;
        display: block;
    }
}